<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/paginaInicial.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdicionarPecasJSP</servlet-name>
        <jsp-file>/adicionarPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AlterarPecasJSP</servlet-name>
        <jsp-file>/alterarPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConsultarPecasJSP</servlet-name>
        <jsp-file>/consultarPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListarPecasJSP</servlet-name>
        <jsp-file>/listarPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RemoverPecasJSP</servlet-name>
        <jsp-file>/removerPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EntradaDePecasJSP</servlet-name>
        <jsp-file>/entradaPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SaidaDePecasJSP</servlet-name>
        <jsp-file>/saidaPecas.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionariosJSP</servlet-name>
        <jsp-file>/listarFuncionarios.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListarHistoricoJSP</servlet-name>
        <jsp-file>/listarHistorico.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListarVeiculosJSP</servlet-name>
        <jsp-file>/listarVeiculos.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarPecasJSP</servlet-name>
        <url-pattern>/AdicionarPecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPecasJSP</servlet-name>
        <url-pattern>/AlterarPecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarPecasJSP</servlet-name>
        <url-pattern>/ConsultarPecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPecasJSP</servlet-name>
        <url-pattern>/ListarPecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverPecasJSP</servlet-name>
        <url-pattern>/RemoverPecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaDePecasJSP</servlet-name>
        <url-pattern>/EntradaDePecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaidaDePecasJSP</servlet-name>
        <url-pattern>/SaidaDePecas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionariosJSP</servlet-name>
        <url-pattern>/ListarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarHistoricoJSP</servlet-name>
        <url-pattern>/ListarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVeiculosJSP</servlet-name>
        <url-pattern>/ListarVeiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/err/404.jsp</location>
    </error-page>
</web-app>
