/* 
    Created on : 04/11/2014, 20:02:28
    Author     : ggois
*/

body {
    margin: 0;
    overflow: hidden;
}

html, body {
    height: 100%;
    min-height: 300px;
}

section.container {
    height: -webkit-calc(100% - 27px - 1px - 300px);
    height: -moz-calc(100% - 27px- 1px - 300px);
    height: calc(100% - 27px  - 1px - 300px);
}

header {
    background-color: #eee;
}

footer {
    text-align: center;
}

.campoInvalido {
    border-color: red;
}

.textoCampoInvalido {
    color: red !important;
}

.campoValido {
    border-color: green;
}

@media (max-width: 480px) {
    .well-responsive {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        background-color: #eee;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        
        padding: 12px;
        border-radius: 3px;
    }
}

@media (min-width: 481px) {
    .well-responsive {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 0px;
        background-color: #eee;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        
        padding: 12px;
        border-radius: 6px;
    }
}
